<br><br>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" href="javascript: void()" >Home </a>
        </li>
        <li class="nav-item" routerLink="products" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link"  href="javascript: void()">Products</a>
        </li>
        <li class="nav-item" routerLink="products/create" [routerLinkActive]="['active']" >
          <a class="nav-link" href="javascript: void()">add Product</a>
        </li>
        <li class="nav-item" routerLink="template-driven-form/create" [routerLinkActive]="['active']">
          <a class="nav-link" href="javascript: void()">template Driven Form</a>
        </li>

      </ul>

    </div>
  </nav>


<router-outlet></router-outlet>
