<label> stock</label>
<br>
<button  id="stat"class="btn btn-danger" (click)="getstat()">get statistics</button>
<h1>{{ statValue }}</h1>

<button  id="statservice"class="btn btn-primary" (click)="getStatService()">get statistics SERVICE</button>
<h1>{{ statValue }}</h1>
 
<br><br>
<form>
    <div class="form-group">
        <input type="number" name="pricemax" class="form-control col-md-6" [(ngModel)]="maxPrice">
    </div>
</form>

<div class="row">
    <app-product *ngFor="let p of listProducts;" [product]="p" [priceMaxInput]=" maxPrice"
        (incrementEvent)="incrementlike($event)" (incrementEvent)="decrementQuantity($event)"></app-product>

</div>